.header {
    display: flex;
    justify-content: space-between;
    /* line after the header light grey */
    border-bottom: 1px solid #f9f9f9; 
    
}

.header__logo {
    height: 55px;
    object-fit:contain;
}

.header__icon{
    padding: 1px !important;
}

