.card{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh; /* 50% of the view height */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    /*subtle box shadow*/
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
}

/* in class .card, go to the specific h3 tag*/
.card > h3{
    position: absolute;
    bottom:10px;
    color:peru;
}

.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh; 
}

.swipe{
    /*absolute actually stacking the images together*/
    position: absolute;


}